@import url('https://fonts.googleapis.com/css?family=Poppins:600|Montserrat:400,400i,600,600i,700,700i,900,900i&display=swap');

body{
  margin-top: 0px;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom: 0px;
}


#header{
  background-color: #12558f;
  height: 43px;
  width: 100vw;
  margin-left: -8vw;
}

#homepageNav{
  background-color: #f2f2f2;
  height: 86px;
  width: 100vw;
  margin-left: -8vw;
}

#footer{
  background-color: #f2f2f2;
  height: 43px;
  position: relative;
  bottom: 0;
  width: 100vw;
  margin-top: 3vh;
  margin-left: -8vw;
}

a{
  color: inherit;
  text-decoration: inherit;
}

h1{
  font-size: 3.5rem;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 1.07;
  color: #141414;
}

h2{
  font-size: 1.625rem;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 1.5;
  color: #141414;
}

h3{
  font-size: 1.375vw;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 1.3;
  color: #141414;
}

#hpNavText{
  font-size: 1.375rem;
  font-family: Montserrat;
  font-weight: 600;
  color: #141414;
  position: relative;
  top: 35px;
  margin-left: 8vw;
}

#hpNavText:hover{
  background-color: #ffffff;
  border: 19px solid #ffffff;
  margin-left: 6.8vw;
  box-shadow: 2px 2px 10px 1px #c2c2c2;
}

#greenArrow{
  font-size: 1.5rem;
  font-family: Poppins;
  font-weight: 600;
  color:#368557;
}

#greenBar{
  color: #ffffff;
  background-image: linear-gradient(-60deg,transparent,transparent 35px,#388557 35px);
  height: 8vh;
}

.column{
  margin-left: -.5vw;
  margin-top: 3vh;
}

.igPost{
  width:26vw;
  height:26vw;
  margin-left: .5vw;
  margin-right: .5vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  box-shadow: 2px 2px 10px 1px #c2c2c2;
  display: inline-block;
  position: relative;
}

.igPost img{
  width:100%;
  height: 100%;
}

.igPost h3{
  position: absolute;
  top: 37%;
  z-index: 1;
  text-align: center;
  width: 100%;
  opacity: 0;
}

.igPost:hover img{
  opacity: .3;
}

.igPost:hover h3{
  opacity: 1;

}
